.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container .content {
    width: 100dvw;
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.lobby-actions {
    display: flex;
    margin: 32px 8px;
    align-items: center;
    justify-content: left;
    height: 48px;
    width: fit-content;
}

.create-lobby-btn {
    padding: 4px 8px;
    height: 100%;
}