.cards {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 20px;
}

.card {
    background-color: red;
    height: 300px;
    width: 250px;
    transition: transform 0.2s ease-in-out 0.2s;
    cursor: pointer;
  
    &:hover {
        transform: scale(1.05);
    }
  
    &.selected {
        transform: translateY(-100px);
    
        &:hover {
            transform: translateY(-100px) scale(1.05);
        }
    }
}

.card > img {
    height: 100%;
    width: 100%;
}