.cards {
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 20px;
}

.card {
    background-color: transparent;
    height: 150px;
    width: 125px;
    transition: transform 0.1s ease-in-out 0.2s;
    cursor: pointer;
  
    &:hover {
        transform: scale(1.05);
    }
  
    &.selected {
        transform: translateY(-100px);
    }
}

.card > img {
    height: 100%;
    width: 100%;
}