.cards {
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 20px;
    padding-top: 48px;
    overflow: visible;
}

.card {
    background-color: transparent;
    transition: transform 0.1s ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &.selected {
        transform: translateY(-25%);
    }
}

.card > img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1200px) {
    .cards {
        padding-top: 24px;
        column-gap: 8px;
    }

    .keyboard-shortcut {
        display: none;
    }
}