.shop {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.shop__card {
    border: 2px solid var(--mdc-theme-primary, #6200ee);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 16px;

    &.selected {
        border: 3px solid black;
    }
}

.shop__card-cost {
    font-style: italic;
}

@media (max-width: 500px) {
    .shop {
        flex-direction: column;
    }
}
