.page {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}

.page::-webkit-scrollbar {
    display: none; /* Older Safari and Chromium */
}

@media (max-width: 500px) {
    .page {
        overflow: auto;
        -ms-overflow-style: auto; /* Internet Explorer 10+ */
        scrollbar-width: auto; /* Firefox, Safari 18.2+, Chromium 121+ */
    }
}